#img1{
    height: 100%;
    display: block;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.black{
    background-color: black;
}

.sectionh1{
    height: 40px;
    position: relative;
}

.sectionh2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sezionih{
    display: none;
}

.sezionih ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-right: 5px;
}


